.introductionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 350px;
    padding: auto;
    border-color: blueviolet;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  }
  
  .introductionSection {
    width: 100%;
    max-width: 200; /* Adjust as needed */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .contentHeader {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .introductionText {
    width: 100%;
  }
  
  .textImageContainer {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between text and image */
    flex-direction: row; /* Align content in a row */
  }
  
  .textContainer {
    flex: 1; /* Allow the text container to take up available space */
    margin-left: 20px; /* Add some space between the image and the text */
  }
  
  .introductionImage {
    width: 150px; /* Adjust the width as needed */
    height: auto;
  }