/* Introduction.css */
.introductionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Ensure it does not take full height */
    width: 100%; /* Ensure it takes the full width */
    padding: 20px; /* Add some padding */
  }
  
  .introductionSection {
    width: 300px; /* Set the width of the introduction box */
    height: 150px; /* Set the height of the introduction box */
    display: flex; /* Use flexbox for centering content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    border: 1px solid rgba(221, 116, 224, 0.808); /* Add a border for visibility */
    padding: 16px; /* Add padding */
    background-color: #f9f9f9; /* Optional: Add a background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
    border-radius: 3px; /* Optional: Add rounded corners */
  }

  .introductionText {
    text-align: justify; /* Justify the text */
    width: 100%; /* Ensure the text container takes full width */
    overflow: auto; /* Add scrollbars if content overflows */
  }

  .textImageContainer {
    display: flex;
    align-items: center;
  }
  
  .textImageContainer p {
    flex: 1;
    margin-right: 20px; /* Add some space between the text and the image */
  }
  
  .introductionImage {
    width: 150px; /* Adjust the width as needed */
    height: auto;
  }